<header class="main-header" id="main-header">
    <div class="container header-content">
        <a href="#home" class="logo">
            <img src="assets/img/logo 1.svg" alt="Minerasal Logo">
        </a>
        <div class="header-right">
            <nav class="main-nav" [class.mobile-open]="isMobileMenuOpen">
                <ul>
                    <li><a href="#quienes-somos">Quiénes somos</a></li>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#ubicacion">Ubicación</a></li>
                </ul>
            </nav>
            <a class="contact-btn">
                Contáctanos
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
            </a>
            <div class="burger-menu" [class.active]="isMobileMenuOpen" (click)="toggleMobileMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>