<section id="home" class="hero">
    <div class="container">
        <div class="hero-content-wrapper fade-in">
            <div class="hero-text">
                <h2 class="hero-tag">Fertilizantes, herbicidas, Semillas y mas</h2>
                <h1>En Minerasal, te ofrecemos la confianza y pureza de los mejores productos agricolas</h1>
                <a href="#quienes-somos" class="hero-btn">
                    Descubre quiénes somos
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                </a>
            </div>
            <div class="hero-image">
                <img src="assets/img/img2-description.webp" alt="">
            </div>
        </div>
    </div>

</section>