<section class="brands-section">
    <div class="container">
        <h3 class="brands-title">Algunas de nuestras Marcas</h3>
        <div class="logo-scroller">
            <div class="logo-track">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 2]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 1]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 3]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 4]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 5]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 6]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 7]">
                <!-- Dupliassets/cated for seamless scroll -->
                <img src="assets/img/marca1.png" alt="[Logo de Marca 1]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 2]">
                <img src="assets/img/marca1.png" alt=" [Logo de Marca 3]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 4]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 5]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 6]">
                <img src="assets/img/marca1.png" alt="[Logo de Marca 7]">
            </div>
        </div>
    </div>
</section>